body {
    height: 100vh;
    overflow-y: auto;
}

/* 标题 */
.main-head {
    text-align: center;
    color: #fff;
    background-color: #000;
}
/* 案例列表 */
.nav-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.nav-item {
    width: 23%;
    margin: 0 1%;
    display: inline-block;
    line-height: 2.4;
}
.nav-link {
    width: 100%;
    height: 100%;
    margin: 5px 5px;
    border: 1px solid #eaeaea;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition-duration: 0.3s;
    color: #404040;
    background-color: #f8f8f8;
}
.nav-link:hover {
    border: 1px solid #52ccba;
    color: #52ccba;
    animation: border-line 500ms ease-in-out 0ms;
}
@keyframes border-line {
    0% {
        border-top-color: #52ccba;
        border-right-color: #eaeaea;
        border-bottom-color: #eaeaea;
        border-left-color: #eaeaea;
    }
    50% {
        border-top-color: #52ccba;
        border-right-color: #52ccba;
        border-bottom-color: #eaeaea;
        border-left-color: #eaeaea;
    }
    75% {
        border-top-color: #52ccba;
        border-right-color: #52ccba;
        border-bottom-color: #52ccba;
        border-left-color: #eaeaea;
    }
    100% {
        border-top-color: #52ccba;
        border-right-color: #52ccba;
        border-bottom-color: #52ccba;
        border-left-color: #52ccba;
    }
}