* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #999;
}
ul,
li {
  list-style: none;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
#container {
  width: 100%;
  background-color: #f8f8f8;
}
#container .header {
  width: 100%;
  height: 4rem;
  background-color: #eee;
}
#container .header .goback {
  float: left;
  height: 4rem;
  line-height: 4rem;
  padding-left: 1rem;
}
#container .user-warpper {
  position: relative;
  height: 14rem;
  text-align: center;
  background-color: #eee;
}
#container .user-warpper .user-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 6rem;
  height: 6rem;
  display: inline-block;
  font-size: 0.5rem;
}
#container .user-warpper .user-login .user-img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #999;
}
#container .maney-warpper {
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
  background-color: #fff;
}
#container .maney-warpper .header {
  height: 4rem;
  border-bottom: 1px solid #eaeaea;
}
#container .maney-warpper .header .header-img {
  width: 4rem;
  height: 4rem;
  float: left;
  background-color: #999;
}
#container .maney-warpper .header .header-title {
  float: left;
  line-height: 4rem;
  margin-left: 1rem;
}
#container .maney-warpper .maney-content {
  width: 100%;
}
#container .maney-warpper .maney-content .href {
  float: left;
  width: 33.33%;
  height: 6rem;
  margin-top: 4rem;
  text-align: center;
}
#container .maney-warpper .maney-content .href .price {
  display: inline-block;
  width: 100%;
}
#container .maney-warpper .maney-content .href .price .unit {
  font-size: 0.1rem;
}
#container .maney-warpper .maney-content .href .title {
  display: inline-block;
  width: 100%;
  font-size: 0.6rem;
}
#container .my-order {
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: #fff;
}
#container .my-order .list .item .link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4rem;
}
#container .my-order .list .item .link .link-img {
  width: 4rem;
  height: 4rem;
  background-color: #999;
  border-radius: 5px;
  display: block;
  float: left;
}
#container .my-order .list .item .link .title-warpper {
  float: left;
}
#container .my-order .list .item .link .link-title {
  font-size: 1.8rem;
  margin-left: 1rem;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
}
#container .my-order .list .item .link .go {
  position: absolute;
  top: 0;
  right: 0;
  height: 4rem;
  line-height: 4rem;
  margin-right: 1rem;
}