html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}
.container .common {
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 4px;
}
.container .box-1 {
    transform: rotateY(90deg) translateZ(-15px);
}
.container .box-2 {
    transform: rotateX(90deg) translateZ(15px);
}
.container .box-3 {
    transform: rotateY(90deg) translateZ(15px);
}
.container .box-4 {
    transform: rotateX(90deg) translateZ(15px);
}
.container .box-5 {
    transform: translateZ(-15px);
}
.container .box-6 {
    transform: translateZ(15px);
}

/* 福 */
.container .fu-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-left: -150px;
    margin-top: -200px;
    z-index: 10;
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: fu-rotate 4s ease infinite;
}
.container .fu-inner:hover {
    animation-play-state: paused;
}

/* 左半部分 */
.container .fu-left {
    position: relative;
    width: 200px;
    text-align: center;
}

/* · */
.container .fu-left .left-top {
    position: relative;
    margin-left: 80px;
    width: 40px;
    height: 30px;
    transform: rotate(30deg);
    transform-style: preserve-3d;
    border: 1px solid transparent;
    border-radius: 5px;
}
.container .fu-left .left-top .box-1 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-top .box-2 {
    width: 40px;
    height: 30px;
}
.container .fu-left .left-top .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-top .box-4 {
    width: 40px;
    height: 30px;
}
.container .fu-left .left-top .box-5 {
    width: 40px;
    height: 30px;
}
.container .fu-left .left-top .box-6 {
    width: 40px;
    height: 30px;
}
/* 一 */
.container .fu-left .left-middle-top {
    position: relative;
    width: 100px;
    height: 30px;
    margin-left: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-left .left-middle-top .box-1 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-middle-top .box-2 {
    width: 100px;
    height: 30px;
}
.container .fu-left .left-middle-top .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-middle-top .box-4 {
    width: 100px;
    height: 30px;
}
.container .fu-left .left-middle-top .box-5 {
    width: 100px;
    height: 30px;
}
.container .fu-left .left-middle-top .box-6 {
    width: 100px;
    height: 30px;
}
/* / */
.container .fu-left .left-middle-left {
    width: 150px;
    height: 30px;
    margin-left: 35px;
    transform: rotate(-50deg) translateY(-52px);
    transform-origin: top right;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-left .left-middle-left .box-1 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-middle-left .box-2 {
    width: 150px;
    height: 30px;
}
.container .fu-left .left-middle-left .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-left .left-middle-left .box-4 {
    width: 150px;
    height: 30px;
}
.container .fu-left .left-middle-left .box-5 {
    width: 150px;
    height: 30px;
}
.container .fu-left .left-middle-left .box-6 {
    width: 150px;
    height: 30px;
}

/* | */
.container .fu-left .left-middle-center {
    position: relative;
    width: 30px;
    height: 200px;
    margin-left: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-left .left-middle-center .box-1 {
    width: 30px;
    height: 200px;
}
.container .fu-left .left-middle-center .box-2 {
    height: 30px;
    width: 30px;
}
.container .fu-left .left-middle-center .box-3 {
    width: 30px;
    height: 200px;
}
.container .fu-left .left-middle-center .box-4 {
    height: 30px;
    width: 30px;
}
.container .fu-left .left-middle-center .box-5 {
    width: 30px;
    height: 200px;
}
.container .fu-left .left-middle-center .box-6 {
    width: 30px;
    height: 200px;
}
/* \ */
.container .fu-left .left-middle-right {
    position: absolute;
    top: 90px;
    width: 30px;
    height: 40px;
    margin-left: 130px;
    transform: rotate(-45deg);
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 11;
    transform-style: preserve-3d;
}
.container .fu-left .left-middle-right .box-1 {
    width: 30px;
    height: 40px;
}
.container .fu-left .left-middle-right .box-2 {
    height: 30px;
    width: 30px;
}
.container .fu-left .left-middle-right .box-3 {
    width: 30px;
    height: 40px;
}
.container .fu-left .left-middle-right .box-4 {
    height: 30px;
    width: 30px;
}
.container .fu-left .left-middle-right .box-5 {
    width: 30px;
    height: 40px;
}
.container .fu-left .left-middle-right .box-6 {
    width: 30px;
    height: 40px;
}
/* 右半部分 */
.container .fu-right {
    position: relative;
    left: -50px;
    width: 200px;
    text-align: center;
    transform-style: preserve-3d;
}

/* 一 */
.container .fu-right .right-top {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-top .box-1 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-top .box-2 {
    width: 120px;
    height: 30px;
}
.container .fu-right .right-top .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-top .box-4 {
    width: 120px;
    height: 30px;
}
.container .fu-right .right-top .box-5 {
    width: 120px;
    height: 30px;
}
.container .fu-right .right-top .box-6 {
    width: 120px;
    height: 30px;
}
.container .fu-right .right-middle {
    position: relative;
    margin-top: 10px;
    transform-style: preserve-3d;
}

/* 口 */
.container .fu-right .right-middle .top {
    height: 30px;
    width: 80px;
    margin-left: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-middle .top .box-1,
.container .fu-right .right-middle .top .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-middle .top .box-2,
.container .fu-right .right-middle .top .box-4,
.container .fu-right .right-middle .top .box-5,
.container .fu-right .right-middle .top .box-6 {
    width: 80px;
    height: 30px;
}
.container .fu-right .right-middle .right {
    position: absolute;
    top: 0;
    right: 55px;
    width: 30px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-middle .right .box-1,
.container .fu-right .right-middle .right .box-3,
.container .fu-right .right-middle .right .box-5,
.container .fu-right .right-middle .right .box-6 {
    width: 30px;
    height: 80px;
}

.container .fu-right .right-middle .right .box-2,
.container .fu-right .right-middle .right .box-4 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-middle .bottom {
    position: absolute;
    top: 50px;
    left: 55px;
    height: 30px;
    width: 80px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-middle .bottom .box-1,
.container .fu-right .right-middle .bottom .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-middle .bottom .box-2,
.container .fu-right .right-middle .bottom .box-4,
.container .fu-right .right-middle .bottom .box-5,
.container .fu-right .right-middle .bottom .box-6 {
    width: 80px;
    height: 30px;
}
.container .fu-right .right-middle .left {
    position: absolute;
    left: 55px;
    top: 0;
    width: 30px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-middle .left .box-1,
.container .fu-right .right-middle .left .box-3,
.container .fu-right .right-middle .left .box-5,
.container .fu-right .right-middle .left .box-6 {
    width: 30px;
    height: 80px;
}

.container .fu-right .right-middle .left .box-2,
.container .fu-right .right-middle .left .box-4 {
    width: 30px;
    height: 30px;
}
/* 田 */
.container .fu-right .right-bottom {
    position: relative;
    margin-top: 65px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .top {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .top .box-1,
.container .fu-right .right-bottom .top .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .top .box-2,
.container .fu-right .right-bottom .top .box-4,
.container .fu-right .right-bottom .top .box-5,
.container .fu-right .right-bottom .top .box-6 {
    width: 150px;
    height: 30px;
}
.container .fu-right .right-bottom .right {
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 150px;
    margin-left: 170px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .right .box-1,
.container .fu-right .right-bottom .right .box-3,
.container .fu-right .right-bottom .right .box-5,
.container .fu-right .right-bottom .right .box-6 {
    width: 30px;
    height: 150px;
}
.container .fu-right .right-bottom .right .box-2,
.container .fu-right .right-bottom .right .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .bottom {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .bottom .box-1,
.container .fu-right .right-bottom .bottom .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .bottom .box-2,
.container .fu-right .right-bottom .bottom .box-4,
.container .fu-right .right-bottom .bottom .box-5,
.container .fu-right .right-bottom .bottom .box-6 {
    width: 150px;
    height: 30px;
}
.container .fu-right .right-bottom .left {
    position: absolute;
    left: 20px;
    top: 0;
    width: 30px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .left .box-1,
.container .fu-right .right-bottom .left .box-3,
.container .fu-right .right-bottom .left .box-5,
.container .fu-right .right-bottom .left .box-6 {
    width: 30px;
    height: 150px;
}
.container .fu-right .right-bottom .left .box-2,
.container .fu-right .right-bottom .left .box-4 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .center {
    position: absolute;
    top: 0px;
    left: 85px;
    width: 30px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .center .box-1,
.container .fu-right .right-bottom .center .box-3,
.container .fu-right .right-bottom .center .box-5,
.container .fu-right .right-bottom .center .box-6 {
    width: 30px;
    height: 150px;
}
.container .fu-right .right-bottom .center .box-2,
.container .fu-right .right-bottom .center .box-4 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .middle {
    position: absolute;
    top: 65px;
    left: 22px;
    width: 150px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform-style: preserve-3d;
}
.container .fu-right .right-bottom .middle .box-1,
.container .fu-right .right-bottom .middle .box-3 {
    width: 30px;
    height: 30px;
}
.container .fu-right .right-bottom .middle .box-2,
.container .fu-right .right-bottom .middle .box-4,
.container .fu-right .right-bottom .middle .box-5,
.container .fu-right .right-bottom .middle .box-6 {
    width: 150px;
    height: 30px;
}

@keyframes fu-rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}