html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "微软雅黑";
}

#container {
    margin: 10px 86px;
}

#content-box {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#content-box .form {
    width: 50%;
}

#content-box .from-ipnut {
    width: 100%;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

#submit {
    width: 100%;
    border-radius: 5px;
    background-color: aquamarine;
}